<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/question.css" th:href="@{css/question.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Quiz 1</title>
</head>
<body>

    <div id="container">

        <p>Pytanie: <span th:text="${numberOfQuestion}"></span> / <span th:text="${amoutOfAllQuestions}"></span> </p>

        <p th:text="${question}"></p>

        <form method="post">
            <th:block th:each="answer :${answers}">
                <div th:text = "${answer}" class="answer"></div> <div class="checkbox"><input type="radio" name="answer" th:value="${answer}"> </div><!--<input type="radio" name="answer"  th:value="${answer}"/></div>
                --><div style="clear: both"> </div>
            </th:block>


            <p th:text="${correctAnswer}"></p>

            <input type="submit" value="next">
        </form>
    </div>



    <!--<div id="container">

        <p>Pytanie: <span th:text="${numberOfQuestion}"></span> / <span th:text="${amoutOfAllQuestions}"></span> </p>
        <p th:text="${Question}"></p>

        <div action="quiz-1">
            <form method="post">

                <th:block th:each="answer :${answers}">
                    <div th:text = "${answer}" class="answer"></div> <div class="checkbox"><input type="radio" name="answer"  th:value="${answer}"/></div>
                    <div style="clear: both"></div>
                </th:block>

                <br/> <br/>

                <input type="submit" value="next">

                <br/> <br/>

            </form>
        </div>

    </div> -->



</body>
</html>