<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/question.css" th:href="@{css/question.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Quiz 1</title>
</head>
<body>

    <div id="container">

        <p>Pytanie: <span th:text="${numberOfQuestion}"></span> / <span th:text="${amoutOfAllQuestions}"></span> </p>
        <p th:text="${Question}"></p>

        <div action="quiz-1">
            <form method="post">
                <div th:text = "${AnswerA}" class="answer"></div> <div class="checkbox"><input type="radio" name="answer" value="answerA"/></div>
                <div style="clear: both"></div>

                <div th:text = "${AnswerB}" class="answer"></div> <div class="checkbox"><input type="radio" name="answer" value="answerB"/></div>
                <div style="clear: both"></div>

                <div th:text = "${AnswerC}" class="answer"></div> <div class="checkbox"><input type="radio" name="answer" value="answerC"/></div>
                <div style="clear: both"></div>

                <div th:text = "${AnswerD}" class="answer"></div> <div class="checkbox"><input type="radio" name="answer" value="answerD"/></div>
                <div style="clear: both"></div>

                <br/> <br/>

                <input type="submit" value="next">

                <br/> <br/>

                <!--<p th:text="${AnswerKey}"></p> -->
            </form>
        </div>

    </div>






</body>
</html>